.u-block-a6a0-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-a6a0-3 {
  position: absolute;
  left: 0;
  width: 8px;
  height: 8px;
  top: 322px;
  right: auto;
  padding: 0;
}

.u-block-a6a0-4 {
  position: absolute;
  width: 8px;
  height: 8px;
  left: auto;
  top: auto;
  right: calc(((100% - 1140px) / 2)  + -74px);
  bottom: 297px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-block-a6a0-4 {
    right: calc(((100% - 940px) / 2)  + -61px);
  }
}

@media (max-width: 991px) {
  .u-block-a6a0-4 {
    right: calc(((100% - 720px) / 2)  + -47px);
  }
}

@media (max-width: 767px) {
  .u-block-a6a0-4 {
    right: calc(((100% - 540px) / 2)  + -35px);
  }
}

@media (max-width: 575px) {
  .u-block-a6a0-4 {
    right: calc(((100% - 340px) / 2)  + -22px);
  }
}

 .u-section-1-1 {
  background-image: none;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 659px;
}

.u-section-1-1 .u-layout-wrap-1 {
  margin: 0;
}

.u-section-1-1 .u-layout-cell-1 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1-1 .u-text-1 {
  font-weight: 700;
  font-size: 6rem;
  margin: 0;
}

.u-section-1-1 .u-text-2 {
  margin: 13px 0 0;
}

.u-section-1-1 .u-btn-1 {
  margin-left: 0;
  margin-right: 0;
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  margin-top: 20px;
}

.u-section-1-1 .u-layout-cell-2 {
  min-height: 659px;
}

.u-section-1-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1-1 .u-image-1 {
  width: 964px;
  left: auto;
  right: -394px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 560px;
  }

  .u-section-1-1 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 543px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 4.5rem;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 543px;
  }

  .u-section-1-1 .u-image-1 {
    right: -514px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 498px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 416px;
  }

  .u-section-1-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1-1 .u-btn-1 {
    margin-bottom: 0;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1-1 .u-image-1 {
    right: -557px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 1081px;
  }

  .u-section-1-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 624px;
  }

  .u-section-1-1 .u-image-1 {
    width: 778px;
    height: 543px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: -607px -238px 60px auto;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 544px;
  }

  .u-section-1-1 .u-layout-cell-2 {
    min-height: 393px;
  }

  .u-section-1-1 .u-image-1 {
    width: 340px;
    height: 237px;
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 893px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 508px;
  margin: 147px 0 0 auto;
}

.u-section-2 .u-image-1 {
  min-height: 349px;
  background-image: url("np://user.desktop.nicepage.com/Site_952401171/images/45f264ce-e66b-6d58-e23f-e1d608ed17a1.jpg?rand=142a");
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 358px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 30px 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  border-style: solid;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  margin: 20px auto 0 1px;
  padding: 0;
}

.u-section-2 .u-image-2 {
  width: 340px;
  height: 381px;
  margin: -821px 384px 0 auto;
}

.u-section-2 .u-image-3 {
  width: 439px;
  height: 457px;
  margin: -76px auto 0 93px;
}

.u-section-2 .u-group-1 {
  width: 396px;
  min-height: 238px;
  height: auto;
  margin: -762px auto 0 20px;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 20px 0 35px;
}

.u-section-2 .u-text-3 {
  line-height: 1.7;
  font-size: 1.25rem;
  font-style: italic;
  margin: 0;
}

.u-section-2 .u-shape-1 {
  width: 20px;
  height: 232px;
  margin: -232px auto 583px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 981px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 470px;
    margin-top: 238px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.75rem;
  }

  .u-section-2 .u-image-2 {
    width: 314px;
    height: 374px;
    margin-top: -857px;
    margin-right: 296px;
  }

  .u-section-2 .u-image-3 {
    width: 375px;
    height: 421px;
    margin-top: -65px;
    margin-left: 36px;
  }

  .u-section-2 .u-group-1 {
    width: 310px;
    min-height: 272px;
    margin-top: -724px;
    height: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
  }

  .u-section-2 .u-shape-1 {
    height: 282px;
    margin-top: -272px;
    margin-bottom: 492px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1207px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 423px;
    margin-top: 444px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-image-2 {
    margin-right: auto;
    margin-left: 77px;
  }

  .u-section-2 .u-image-3 {
    width: 261px;
    height: 349px;
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 548px;
    min-height: 210px;
    margin-top: -878px;
    margin-left: 105px;
  }

  .u-section-2 .u-shape-1 {
    width: 17px;
    height: 210px;
    margin-top: -210px;
    margin-left: 68px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1231px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 326px;
    margin-top: 390px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 289px;
    height: 351px;
    margin-left: 34px;
  }

  .u-section-2 .u-image-3 {
    width: 180px;
    height: 276px;
  }

  .u-section-2 .u-group-1 {
    width: 503px;
    margin-top: -805px;
    margin-left: 37px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-2 .u-shape-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1474px;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 296px;
    margin-top: 781px;
  }

  .u-section-2 .u-image-1 {
    min-height: 208px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 430px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-2 .u-image-2 {
    width: 212px;
    height: 292px;
    margin-top: -865px;
    margin-left: 0;
  }

  .u-section-2 .u-image-3 {
    width: 226px;
    margin-top: -475px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-group-1 {
    width: 311px;
    min-height: 272px;
    margin-top: -592px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-2 .u-shape-1 {
    height: 272px;
    margin-top: -272px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 753px;
}

.u-section-3 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  background-image: none;
  margin: 60px auto 0;
}

.u-section-3 .u-list-1 {
  margin-top: 94px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 353px;
  grid-gap: 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-1 {
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-1 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -30px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 18px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 30px 20px 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-2 {
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-4 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-2 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -30px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 30px 20px 0;
}

.u-section-3 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-3 {
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-6 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-3 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -30px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-7 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 30px 20px 0;
}

.u-section-3 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0;
  padding: 0;
}

.u-section-3 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.2);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-3 .u-group-4 {
  min-height: 120px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-3 .u-container-layout-8 {
  padding-left: 20px;
  padding-right: 20px;
}

.u-section-3 .u-icon-4 {
  height: 82px;
  width: 82px;
  background-image: none;
  text-shadow: 7px 0 0 rgba(0,0,0,0);
  --animation-custom_in-translate_x: 50px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 180deg;
  --animation-custom_in-scale: 0.3;
  margin: -30px auto 0;
  padding: 16px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  letter-spacing: normal;
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-3 .u-text-9 {
  font-size: 1.125rem;
  line-height: 1.8;
  font-weight: 400;
  margin: 30px 20px 0;
}

.u-section-3 .u-btn-4 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: normal;
  margin: 26px auto 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-repeater-1 {
    min-height: 286px;
  }

  .u-section-3 .u-group-1 {
    height: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-group-2 {
    height: auto;
  }

  .u-section-3 .u-container-layout-4 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-group-3 {
    height: auto;
  }

  .u-section-3 .u-container-layout-6 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-3 .u-group-4 {
    height: auto;
  }

  .u-section-3 .u-container-layout-8 {
    padding-bottom: 20px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 807px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 20px;
    margin-right: 20px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    grid-gap: 30px 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-3 .u-text-9 {
    margin-left: 25px;
    margin-right: 25px;
  }
} .u-section-4 {
  min-height: 642px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 642px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 642px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 40px 40px 30px;
}

.u-section-4 .u-text-1 {
  font-size: 3rem;
  margin: 0;
}

.u-section-4 .u-list-1 {
  margin: 21px 0 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(1, 100%);
  min-height: 380px;
  grid-gap: 0px;
}

.u-section-4 .u-container-layout-3 {
  padding: 15px 0;
}

.u-section-4 .u-icon-1 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: -29px 0 0 49px;
}

.u-section-4 .u-text-3 {
  font-size: 1.125rem;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  letter-spacing: 1px;
  padding: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 15px 0;
}

.u-section-4 .u-icon-3 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: -29px 0 0 49px;
}

.u-section-4 .u-text-5 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-4 .u-container-layout-5 {
  padding: 15px 0;
}

.u-section-4 .u-icon-4 {
  height: 29px;
  width: 29px;
  margin: 0 auto 0 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: -29px 0 0 49px;
}

.u-section-4 .u-text-7 {
  font-size: 1.125rem;
  text-transform: none;
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  margin: 21px 0 0;
}

.u-section-4 .u-btn-2 {
  letter-spacing: 1px;
  padding: 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 642px;
}

.u-section-4 .u-container-layout-6 {
  padding: 40px 30px 30px;
}

.u-section-4 .u-text-8 {
  font-size: 3rem;
  margin: 0 60px 0 0;
}

.u-section-4 .u-form-1 {
  height: 465px;
  width: 382px;
  margin: 21px 21px 0 0;
}

.u-section-4 .u-input-1 {
  height: 55px;
  background-image: none;
}

.u-section-4 .u-input-2 {
  height: 55px;
  background-image: none;
}

.u-section-4 .u-input-3 {
  background-image: none;
}

.u-section-4 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  padding: 14px 0 15px;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 529px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 529px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 50px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 50px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 50px;
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 595px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-8 {
    font-size: 2.25rem;
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 274px;
    margin-right: 13px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 405px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 405px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
  }

  .u-section-4 .u-text-3 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 30px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 585px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-form-1 {
    width: 692px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 1766px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 681px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 374px;
  }

  .u-section-4 .u-icon-1 {
    height: 36px;
    width: 36px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 66px;
  }

  .u-section-4 .u-icon-3 {
    height: 36px;
    width: 36px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 66px;
  }

  .u-section-4 .u-icon-4 {
    height: 36px;
    width: 36px;
  }

  .u-section-4 .u-text-6 {
    font-size: 1.875rem;
    margin-top: -36px;
    margin-left: 66px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 437px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 1429px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 68px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 40px;
  }

  .u-section-4 .u-text-4 {
    margin-left: 68px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 40px;
  }

  .u-section-4 .u-text-6 {
    margin-left: 68px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 40px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-form-1 {
    width: 320px;
  }
}